<footer>
    <ul style="display:flex;justify-content: space-between;">
        <li class='footerList'><a href='/'>Home</a></li>
        <li class='footerList'><a href='/causes'>Causes</a></li>
        <li class='footerList'><a href='/restaurants'>Restaurants</a></li>
        <li class='footerList'><a href='/locations'>Travel Locations</a></li>
        <li class='footerList'><a href='/allsuggestedcauses'>Suggested Causes</a></li>
    </ul>
    Kirsten Lueder, 2021
</footer>