<body>
<h2>Captiva Island</h2>
<p>
    <ul>
        <li>Location: Captiva Island, FL (a little bitty island off the southwest coast of Florida, near Fort Myers, and off Sanibel Island)</li>
        <br>
        <li>Why I love it: I love Captiva in large part due to my family's personal history there. My (maternal) grandparents travelled to Captiva together for over 35 years, typically for three weeks covering Thanksgiving (and therefore also my grandpa's November 27 birthday). My family started "tagging along" for the Thanksgiving week of these trips when I was around 10 years old and we joined them there at least every other year. Captiva became extra special to me when my now-fiance met my parents and grandpa there for the first time over Thanksgiving 2019, and now we will be married on the beach there in September 2021. Captiva is tiny, quiet, peaceful, and I am very thankful to now live within a few hours of my favorite little island.</li>
        <br>
        <li>Things to Do: 
            <ul>
                <br>
                <li>Rent a kayak, paddleboard, jetski, etc</li>
                <br>
                <li>Visit J.N. "Ding" Darling National Wildlife Refuge</li>
                <br>
                <li>Relax on the beach!</li>
            </ul>
        </li>
    </ul>
</p>
<img src='/images/captiva.jpg' alt='beach at sunset' />
<br>
<a href='/locations'>Back</a>
</body>