<body>
<h2>Captiva</h2>
<p>
    <ul>
        <li>Location: Captiva Island, FL</li>
        <li>Why I love it: family history!</li>
        <li>Things to Do: 
            <ul>
                <li>Rent a kayak, paddleboard, etc</li>
                <li>Visit Ding Darling</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>
</body>