<body>
<h2>Chicago</h2>
<p>
    <ul>
        <li>Location: Chicago, IL, and more specifically also Winnetka, IL (a suburb to the north of the city)</li>
        <br>
        <li>Why I love it: Winnetka is where my maternal grandparents met in high school, and where my mom and her siblings were raised. I grew up going to visit usually at least once per year and have loved it for as long as I can remember (though it may help that our trips were typically in the summer..). I now have an aunt and uncle who live a little further north than Winnetka, and two cousins (plus their husbands and children!) from my dad's side of the family who both live in the city. </li>
        <br>
        <li>Things to Do: 
            <ul>
                <br>
                <li>Go to a Cubs game (As a <span class='cardinals'>Cardinals</span> fan, this feels slightly wrong to say)</li>
                <br>
                <li>Visit the Shedd Aquarium or one of the many museums</li>
                <br>
                <li>Eat some Chicago-style pizza!</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>
</body>