<body>
<h2>Chicago</h2>
<p>
    <ul>
        <li>Location: Chicago, IL</li>
        <li>Why I love it: family history!</li>
        <li>Things to Do: 
            <ul>
                <li>Cubs game</li>
                <li>Pizza!</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>
</body>