<body>
<h2>Keystone</h2>
<p>
    <ul>
        <li>Location: Keystone, CO</li>
        <li>Why I love it: mountains and skiing</li>
        <li>Things to Do: 
            <ul>
                <li>Ski, Snowboard, or Mountain Bike, depending on the season</li>
                <li>Snow Tubing</li>
                <li>Ski Tip Lodge</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>
</body>