<body>
<h2>Keystone Resort</h2>
<p>
    <ul>
        <li>Location: Keystone, CO (Summit County, CO)</li>
        <br>
        <li>Why I love it: Colorado is heaven and I love the mountains, and skiing.</li>
        <br>
        <li>Things to Do: 
            <ul>
                <br>
                <li>Ski, snowboard, or snow tube in the winter</li>
                <br>
                <li>Mountain bike, hike, or golf in the summer</li>
                <br>
                <li>Eat at <a href='/restaurants/ski-tip'>Ski Tip Lodge</a></li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>
</body>