<h2>St. Louis</h2>
<p>
    <ul>
        <li>Location: St. Louis, MO</li>
        <li>Why I love it: my hometown</li>
        <li>Things to Do: 
            <ul>
                <li>Blues or Cardinals game</li>
                <li>Visit the St. Louis Zoo</li>
                <li>Visit the City Museum</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>