<body>
<h2>St. Louis</h2>
<p>
    <ul>
        <li>Location: St. Louis, MO</li>
        <br>
        <li>Why I love it: St. Louis is my hometown! While the Orlando-area is <span class='bold'>now</span> my home, St. Louis is where I grew up, and I will always consider it my home too. My parents still live there, and there is so much to love about the city! There are more free activities in St. Louis than in many cities (especially in the summer), and there is also a lot of delicious food.</li>
        <br>
        <li>Things to Do: 
            <ul>
                <br>
                <li>Go to a <span class='blues'>Blues hockey</span> or <span class='cardinals'>Cardinals baseball</span> game depending on the season</li>
                <br>
                <li>Visit the St. Louis Zoo (one of my favorite places on earth!)</li>
                <br>
                <li>Visit the City Museum (essentially a giant playground for adults)</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/locations'>Back</a>
</body>