<body>
<h1>Kirsten's Favorite Causes</h1>
<div class = "causes">
    <ul>
        <li><a href='/causes/aclu'>ACLU (American Civil Liberties Union)</a></li>
        <br>
        <li><a href='/causes/nami'>NAMI (National Alliance on Mental Illness)</a></li>
        <br>
        <li><a href='/causes/pp'>Planned Parenthood</a></li>
        <br>
        <li><a href='/causes/trevor'>The Trevor Project</a></li>
        <br>
        <li><a href='/causes/wwf'>World Wildlife Fund</a></li>
    </ul>
    <br>
    <a href='/'>Back</a>
</div>
</body>