<h1>Kirsten's Favorite Causes</h1>
<div class = "causes">
    <ul>
        <li><a href='/causes/aclu'>ACLU</a></li>
        <li><a href='/causes/nami'>NAMI</a></li>
        <li><a href='/causes/pp'>Planned Parenthood</a></li>
        <li><a href='/causes/trevor'>Trevor Project</a></li>
        <li><a href='/causes/wwf'>WWF</a></li>
    </ul>
</div>