<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirsten's Favorite Things</title>
</head>
<body>
    <!-- <h1>Hi there <%= name %> ! Is your favorite color <%= color %> ? </h1> -->
    <h1>Kirsten's Favorite Things</h1>
    <ul>
        <li><a href='/causes'>Causes</a></li>
        <li><a href='/restaurants'>Restaurants</a></li>
        <li><a href='/locations'>Travel Locations</a></li>
        <li><a href='/allsuggestedcauses'>Suggested Causes</a></li>
    </ul>
</body>
</html>