<body>
    <h1>Kirsten's Favorite Things</h1>
    <ul>
        <li><a href='/causes'>Causes</a></li>
        <a href='/causes'><img src='/images/justice.png' alt='social justice scales'/></a>
        <br>
        <li><a href='/restaurants'>Restaurants</a></li>
        <a href='/restaurants'><img src='/images/restaurant.png' /></a>
        <br>
        <li><a href='/locations'>Travel Locations</a></li>
        <a href='/locations'><img src='/images/map.png' /></a>
        <br>
        <li><a href='/allsuggestedcauses'>Suggested Causes</a></li>
        <a href='/allsuggestedcauses'><img src='/images/causes.jpeg' /></a>
        <br>
        <li><a href='/allsuggestedcauses/new'>Suggest a New Cause</a></li>
        <a href='/allsuggestedcauses/new'><img src='/images/new.png' /></a>
    </ul>
</body>