<body>
    <h1>Kirsten's Favorite Things</h1>
    <ul>
        <li><a href='/causes'>Causes</a></li>
        <li><a href='/restaurants'>Restaurants</a></li>
        <li><a href='/locations'>Travel Locations</a></li>
        <li><a href='/allsuggestedcauses'>Suggested Causes</a></li>
    </ul>
</body>