<body>
<h1>Kirsten's Favorite Travel Locations</h1>
<h3>Click any location to learn more.</h3>
<div class = "locations">
    <ul>
        <li><a href='/locations/stlouis'>St. Louis, MO</a></li>
        <br>
        <li><a href='/locations/captiva'>Captiva, FL</a></li>
        <br>
        <li><a href='/locations/keystone'>Keystone, CO</a></li>
        <br>
        <li><a href='/locations/chicago'>Chicago, IL</a></li>
    </ul>
    <br>
    <a href='/'>Back</a>
</div>
</body>