<h1>Kirsten's Favorite Travel Locations</h1>
<div class = "locations">
    <ul>
        <li>St. Louis, MO</li>
        <li>Captiva, FL</li>
        <li>Keystone, CO</li>
        <li>Chicago, IL</li>
    </ul>
</div>