<body>
<h1>Kirsten's Favorite Travel Locations</h1>
<div class = "locations">
    <ul>
        <li><a href='/locations/stlouis'>St. Louis, MO</a></li>
        <li><a href='/locations/captiva'>Captiva, FL</a></li>
        <li><a href='/locations/keystone'>Keystone, CO</a></li>
        <li><a href='/locations/chicago'>Chicago, IL</a></li>
    </ul>
</div>
</body>