<h2>Add a New Cause!</h2>
<form action="/suggestedcauses" method="POST">
  <div class="causeform">
    <label for="organization">Organization*:</label>
    <input type="text" id="organization" name="organization" class="formInputs" />
    <label for="website">Website:</label>
    <input type="text" id="website" name="website" class="formInputs" />
    <label for="cause">Cause:</label>
    <input type="text" id="cause" name="cause" class="formInputs" />
    <label for="founded">Founded:</label>
    <input type="number" id="founded" name="founded" class="formInputs" />
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" class="formInputs" />
    <label for="info">Additional Information:</label>
    <input type="text" id="info" name="info" class="formInputs" />
  </div>
  <input type="submit" class="submitButton" />
  <a href="/" class="cancelButton">Cancel</a>
</form>