<!DOCTYPE html>
<html>
  <head>
    <title>Suggest a New Cause!</title>
  </head>
<body>
<h2>Add a New Cause!</h2>
<form action="/suggestedcauses" method="POST">
    <p class="causeform">
      <label for="Organization">Organization*:</label>
      <input type="text" name="Organization" class="formInputs" /> <br>
      <label for="Website">Website:</label>
      <input type="text" name="Website" class="formInputs" /> <br>
      <label for="Cause">Cause:</label>
      <input type="text" name="Cause" class="formInputs" /> <br>
      <label for="Founded">Founded:</label>
      <input type="number" name="Founded" class="formInputs" /> <br>
      <label for="Location">Location:</label>
      <input type="text" name="Location" class="formInputs" /> <br>
      <label for="Info">Additional Information:</label>
      <input type="text" name="Info" class="formInputs" /> <br>
      <input type="submit" class="submitButton" />
  </p>
    
    <a href="/" class="cancelButton">Cancel</a>
  </form>
</body>
</html>