<body>
<h1>Kirsten's Favorite Restaurants</h1>
<h3>Click any restaurant to learn more.</h3>
<div class = "restaurants">
    <ul>
        <li><a href='/restaurants/tutu'>Cafe Tutu Tango</a></li>
        <br>
        <li><a href='/restaurants/ski-tip'>Ski Tip Lodge</a></li>
        <br>
        <li><a href='/restaurants/tavern'>Celebration Town Tavern</a></li>
        <br>
        <li><a href='/restaurants/ale-house'>Miller's Ale House</a></li>
    </ul>
    <br>
    <a href='/'>Back</a>
</div>
</body>