<h1>Kirsten's Favorite Restaurants</h1>
<div class = "restaurants">
    <ul>
        <li><a href='/restaurants/tutu'>Cafe Tutu Tango</a></li>
        <li><a href='/restaurants/tavern'>Celebration Town Tavern</a></li>
        <li><a href='/restaurants/ale-house'>Ale House</a></li>
    </ul>
</div>