<h2>Causes That Have Been Suggested:</h2>
<ul class = "newCauseList">
    <% suggestedcauses.forEach(suggestedcause => {%> 
    <li> <%= suggestedcause %> </li>
    <% }) %>
</ul>

<a href="/suggestedcauses/new" class="newCauseButton">Suggest a New Cause</a>
</br>
<a href="/" class="cancelButton">Cancel</a>
