<body>
    <h2><img src='/images/aclu.svg' alt='ACLU logo in blue' /></h2>
    <h2>(American Civil Liberties Union)</h2>

    <p>
        <ul>
            <li>Website: <a href ="https://www.aclu.org" target="_blank">www.aclu.org</a></li>
            <br>
            <li>Cause: ".. to defend and preserve the individual rights and liberties that the Constitution and laws of the United States guarantee everyone in this country"*</li>
            <br>
            <li>Year Founded: 1920</li>
            <br>
            <li>Location: New York, NY (however states will have their own affiliate branches)</li>
            <br>
            <li>Additional Information: Some current issues include voters' right, racial justice, LQBTQ+ rights, and Immigrants' rights.</li>
        </ul>
    <a href='/causes'>Back</a>
    <br>
    <br>
    </p>
    <p>* All quotes from <a href ="https://www.aclu.org" target="_blank">www.aclu.org</a>.</p>
</body>