<body>
    <h2><img src='/images/nami.png' alt='NAMI logo' /></h2>
    <!-- <h2>NAMI (National Alliance on Mental Illness)</h2> -->
    <p>
        <ul>
            <li><span class='bold'>Website:</span> <a href ="https://www.nami.org" target="_blank">www.nami.org</a></li>
            <br>
            <li><span class='bold'>Cause:</span> "The nation’s largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness"*</li>
            <br>
            <li><span class='bold'>Year Founded:</span> 1979</li>
            <br>
            <li><span class='bold'>Location:</span> Arlington, VA (with local chapters also)</li>
            <br>
            <li><span class='bold'>Additional Information:</span> "NAMI provides advocacy, education, support and public awareness so that all individuals and families affected by mental illness can build better lives."*</li>
        </ul>
        <h4><img src='/images/mental-health.png' alt='equality wins in rainbow colors'/></h4>
        <a href='/causes'>Back</a>
        <br>
        <br>
        <p>* All quotes from <a href ="https://www.nami.org" target="_blank">www.nami.org</a>.</p>
    </p>
</body>