<body>
    <h2><img src='/images/nami.png' alt='NAMI logo' /></h2>
    <!-- <h2>NAMI (National Alliance on Mental Illness)</h2> -->
    <p>
        <ul>
            <li>Website: <a href ="https://www.nami.org" target="_blank">www.nami.org</a></li>
            <br>
            <li>Cause: "The nation’s largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness"*</li>
            <br>
            <li>Year Founded: 1979</li>
            <br>
            <li>Location: Arlington, VA (with local chapters also)</li>
            <br>
            <li>Additional Information: "NAMI provides advocacy, education, support and public awareness so that all individuals and families affected by mental illness can build better lives."*</li>
        </ul>
        <a href='/causes'>Back</a>
        <br>
        <br>
        <p>* All quotes from <a href ="https://www.nami.org" target="_blank">www.nami.org</a>.</p>
    </p>
</body>