<body>
    <h2><img src='/images/plan.png' alt='Planned Parenthood logo in blue' /></h2>
    <!-- <h2>Planned Parenthood</h2> -->
    <p>
        <ul>
            <li><span class='bold'>Website:</span> <a href ="https://www.plannedparenthood.org" target="_blank">www.plannedparenthood.org</a></li>
            <br>
            <li><span class='bold'>Cause:</span> "Planned Parenthood delivers vital reproductive health care, sex education, and information to millions of people worldwide."*</li>
            <br>
            <li><span class='bold'>Year Founded:</span> 1916</li>
            <br>
            <li><span class='bold'>Location:</span> Washington, DC (with local offices in most states)</li>
            <br>
            <li><span class='bold'>Additional Information:</span> "At Planned Parenthood our mission is to ensure all people have access to the care and resources they need to make informed decisions about their bodies, their lives, and their futures."*</li>
        </ul>
        <a href='/causes'>Back</a>
        <br>
        <br>
        <p>* All quotes from <a href ="https://www.plannedparenthood.org" target="_blank">www.plannedparenthood.org</a>.</p>
    </p>
</body>