<body>
    <h2><img src='/images/trevor.jpeg' alt='orange Trevor Project logo' /></h2>
    <!-- <h2>The Trevor Project</h2> -->
    <p>
        <ul>
            <li><span class='bold'>Website:</span> <a href ="https://www.thetrevorproject.org" target="_blank">www.thetrevorproject.org</a></li>
            <br>
            <li><span class='bold'>Cause:</span> "The leading national organization providing crisis intervention and suicide prevention services to lesbian, gay, bisexual, transgender, queer & questioning (LGBTQ) young people under 25."*</li>
            <br>
            <li><span class='bold'>Year Founded:</span> 1998</li>
            <br>
            <li><span class='bold'>Location:</span> West Hollywood, CA and New York, NY</li>
            <br>
            <li><span class='bold'>Additional Information:</span> "The Trevor Project offers accredited life-saving, life-affirming programs and services to LGBTQ youth that create safe, accepting and inclusive environments over the phone, online and through text."*</li>
        </ul>
        <a href='/causes'>Back</a>
        <br>
        <br>
        <p>* All quotes from <a href ="https://www.thetrevorproject.org" target="_blank">www.thetrevorproject.org</a>.</p>
    </p>
</body>