<body>
    <h2><img src='/images/wwf.png' alt='WWF logo with panda' /></h2>
    <!-- <h2>World Wildlife Fund</h2> -->
    <p>
        <ul>
            <li>Website: <a href ="https://www.worldwildlife.org" target="_blank">www.worldwildlife.org</a></li>
            <br>
            <li>Cause: "is to conserve nature and reduce the most pressing threats to the diversity of life on Earth."*</li>
            <br>
            <li>Year Founded: 1961</li>
            <br>
            <li>Location: Washington, DC</li>
            <br>
            <li>Additional Information: They focus on 6 areas: food, climate, freshwater, wildlife, forests, and oceans.</li>
        </ul>
        <a href='/causes'>Back</a>
        <br>
        <br>
        <p>* All quotes from <a href ="https://www.worldwildlife.org" target="_blank">www.worldwildlife.org</a>.</p>
    </p>
</body>