body {
    font-family: 'Nunito', sans-serif;
    background-color: honeydew;
    color: navy;
}
h1 {
    color: deeppink;
}
h2 {
    color: deeppink;
}
.cardinals {
    color: red;
    font-weight: bold;
}
.blues {
    color: blue;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}