body {
    font-family: 'Nunito', sans-serif;
    background-color: honeydew;
    color: navy;
}
h1 {
    color: deeppink;
    text-align: center;
}
h2 {
    color: deeppink;
    text-align: center;
}
h4 {
    text-align: center;
}
.footerList {
    padding: 0 5px 0 5px;
}
.cardinals {
    color: red;
    font-weight: bold;
}
.blues {
    color: blue;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}