<body>
<h2>Miller's Ale House</h2>
<p>
    <ul>
        <li><span class='bold'>Location:</span> all over Florida (also located in a few other states)</li>
        <br>
        <li><span class='bold'>Why I Love it:</span> Zingers Mountain Melt and Captain Jack's cake! (This might be my favorite place to go for a <span class='bold'>very</span> physically unhealthy meal.)</li>
        <br>
        <li><span class='bold'>Favorite Dishe(s):</span>
            <ul>
                <br>
                <li>Zingers Mountain Melt</li>
                <br>
                <img src="/images/mountain-melt.jpeg" alt="a mountain melt: chicken tenders over a bed of fries, all topped with cheese, bacon bits, and green onions" />
                <li>Captain Jacks Buried Treasure cake</li>
                <br>
                <img src="/images/captain-jacks.jpeg" alt="ice cream cake with an Oreo crust and Heath bar crumble" />
            </ul>
        </li>
    </ul>
</p>
<a href='/restaurants'>Back</a>
</body>