<body>
    <h2>Ski Tip Lodge</h2>
    <p>
        <ul>
            <li>Location: <a href='/locations/keystone'>Keystone, CO</a></li>
            <br>
            <li>Why I love it: Award-winning four-course dining in what was a stage coach stop during the 1800's (and is now also a bed and breakfast)</li>
            <br>
            <li>Favorite Dishe(s):
                <ul>
                    <br>
                    <li>With their menu rotating monthly, it would be hard to recommend a specific dish, but know that you cannot go wrong here.</li>
                    <br>
                </ul>
            </li>
        </ul>
    </p>
    <img src="/images/ski-tip.jpeg" alt="ski tip check in wooden sign with snowy ground" />
    <br>
    <a href='/restaurants'>Back</a>
    </body>