<h2>Celebration Town Tavern</h2>
<p>
    <ul>
        <li>Location: Celebration, FL</li>
        <li>Why I love it: excellent beer list, good food, cute location</li>
        <li>Favorite Dishe(s):
            <ul>
                <li>Burger</li>
                <li>Pasta</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/restaurants'>Back</a>