<body>
<!-- <h2>Celebration Town Tavern</h2> -->
<h2><img src="/images/tavern.png" alt="Celebration town tavern logo" /></h2>
<p>
    <ul>
        <li><span class='bold'>Location:</span> Celebration, FL</li>
        <br>
        <li><span class='bold'>Why I Love it:</span> excellent beer list, good food, cute (and convenient-for-me!) location</li>
        <br>
        <li><span class='bold'>Favorite Dishe(s):</span>
            <ul>
                <br>
                <li>Any of the 99 beers on their list</li>
                <br>
                <li>Bison Burger</li>
                <br>
                <li>Blackened Prime sandwich</li>
            </ul>
        </li>
    </ul>
</p>
<a href='/restaurants'>Back</a>
</body>