<body>
<h2>Cafe Tutu Tango</h2>
<p>
    <ul>
        <li>Location: Orlando, FL</li>
        <br>
        <li>Why I love it: It can be challenging to find great non-chain restaurants in Orlando, but this is one of the best. They have amazing tapas-style dining with delicious craft cocktails, local beers, and house-made sangria. They also offer bottomless brunch on the weekends and their happy hour is excellent as well. The fact that they display and sell local art is a fun bonus that definitely makes for a colorful environment too!
        <br>(For me personally, this restaurant became significantly more special after it became the location of my fiance and my first date, and then pre-engagement dinner.)</li>
        <br>
        <li>Favorite Dishe(s):
            <ul>
                <br>
                <li>Jalapeno Mac and Cheese</li>
                <br>
                <li>Watermelon and Halloumi</li>
                <br>
                <li>Sesame Steak Skewers</li>
                <br>
                <li>Polpetta Pizza</li>
                <br>
                <li>Breakfast Tacos</li>
                <br>
            </ul>
        </li>
    </ul>
</p>
<img src="/images/tutu-indoor.jpg" alt="chairs and colorful tables with chandeliers overheard" />
<br>
<a href='/restaurants'>Back</a>
</body>